@model Tesis_EPICAI.ViewModels.Usuarios.Create
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Editar Usuario";
}

<h1>Editar usuario</h1>

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All"></div>
        <form asp-action="Edit">
            <div class="form-group">
                <label asp-for="Nombre" class="col-form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password2" class="col-form-label"></label>
                <input asp-for="Password2" class="form-control" />
                <span asp-validation-for="Password2"></span>
            </div>
            <button class="btn btn-primary">Editar</button>
        </form>
    </div>
</div>
